*{
    font-family: cursive;
    margin: 0;
}

body{
    background-color: red;
}

.header{
    color: white;
    background-color: #100e0e;
    text-align: center;
}

.header a{
    margin: 0;
    padding: 0 16px;
    color: white;
    text-decoration: none;
}

h2{
    text-align: center;
}

.list{
    margin: 114px 120px;
}

ol li{
    list-style: none;
    background-color: black;
    margin: 4px 0;
    color: white;
}

ul li{
    background-color: blueviolet;
}

.footer{
    color: white;
    background-color: black;
    padding: 25px;
}